.container_image {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/83e8c151-107d-4e8f-b95a-d2ba99d49bb9/f1ac72e1-5adc-4caf-bceb-e8ec775414ac/IN-hi-20230213-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-repeat: no-repeat;
  background-size: 150em cover;
  z-index: 999;
  position: sticky;
}
.container_image .container {
  height: 87vh;
  border: 2px solid black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.001), rgba(0, 0, 0, 0.9));
  z-index: -1;
}
.container_image .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.container_image .container .top .top-left {
  margin-top: 0.3em;
  margin-left: 10em;
}
.container_image .container .top .top-left > img {
  width: 10vw;
}
.container_image .container .top .top-right {
  display: flex;
  width: 28vw;
  height: 5.5vh;
}
.container_image .container .top .top-right .top-right-first {
  border: 0.01px solid rgba(128, 128, 128, 0.7);
  border-width: thin;
  outline: none;
  border-radius: 0.3em;
  margin-left: 1em;
  display: flex;
  height: 4.5vh;
  font-family: sans-serif;
}
.container_image .container .top .top-right .top-right-first .icon {
  margin-top: 0.25em;
  font-size: 1.5em;
  margin-left: 0.1em;
  border: none;
  outline: none;
  background: transparents;
}
.container_image .container .top .top-right .top-right-first #lang {
  margin-left: 0.3em;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-style: normal;
  font-size: 1.1em;
  width: 7vw;
}
.container_image .container .top .top-right .top-right-first #lang:active {
  border: none;
  outline: none;
}
.container_image .container .top .top-right .top-right-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  width: 5.5vw;
  margin-top: 0.01em;
  font-weight: 100 !important;
  cursor: pointer;
  background-color: rgb(229, 9, 20);
  color: white;
  border-radius: 0.35em;
  font-size: 1.001em;
  letter-spacing: 0.01em;
  height: 4.4vh;
  border: none;
  transition: all 0.2s;
}
.container_image .container .top .top-right .top-right-btn:hover {
  background-color: rgba(229, 9, 20, 0.8);
}
.container_image .container .middle {
  height: 78vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_image .container .middle > h2 {
  font-size: 3.3em;
  margin-bottom: 0.5em;
}
.container_image .container .middle .middle_p {
  font-family: sans-serif;
  font-size: 1.7em;
  font-weight: 100 !important;
  margin-top: -0.1em;
}
.container_image .container .middle .middle_p2 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  margin-top: 1.3em;
}
.container_image .container .middle .bottom {
  width: 43vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  height: 7vh;
  gap: 0.5em;
}
.container_image .container .middle .bottom .bottom_first {
  border: 2px solid white;
  background: transparent;
  background-color: rgba(10, 10, 10, 0.6);
  border: 0.01px solid rgba(128, 128, 128, 0.7);
  position: relative;
}
.container_image .container .middle .bottom .bottom_first .inp {
  font-family: sans-serif;
  font-size: 1.2em;
  width: 28vw;
  height: 6.5vh;
  background: transparent;
  color: white;
  border: none;
}
.container_image .container .middle .bottom .bottom_first .form-label {
  position: absolute;
  top: 1px;
  font-size: 1.1em;
  left: 15px;
  color: white;
  padding: 0 5px;
  transition: all 0.5s;
}
.container_image .container .middle .bottom .bottom_first .inp:focus ~ label {
  transform: translateY(-8px) scale(0.9);
}
.container_image .container .middle .bottom .bottom_first .inp:not(:placeholder-shown) .inp:not(:focus) ~ .form-label {
  transform: translateY(-15px);
}
.container_image .container .middle .bottom > button {
  font-family: sans-serif;
  width: 14vw;
  background-color: rgb(229, 9, 20);
  outline: none;
  border: none;
  border-radius: 0.2em;
  font-weight: bold;
  font-size: 1.4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.container_image .container .middle .bottom > button:hover {
  background-color: rgba(229, 9, 20, 0.8);
}/*# sourceMappingURL=home.css.map */